*{
	padding:0px;
	margin:0px;
	/*border:1px #cccccc solid;*/
}

#globalWrapper
{
	width: 1100px;
	margin:auto;
	position:relative;
}

.location
{
	font-size:15px;
	position: absolute;
	top: 3px;
	left: 3px;
	color: #00ff00;
	font-family: monospace;
}

.discreet
{
	font-size:60%;
}

#chat
{

}

#stream
{
	float:left;
	margin-right:10px;
}

#chatWindow
{
	height:480px;
	overflow-y:auto;
	overflow-x:hidden;
}

#chatMsg
{
	width:379px;
}

#messageInput
{

}

.beamed
{
	color: red;
}

#intk
{
	position:fixed;
	bottom:0;
	left:0;
	padding:5px;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-size:10px;
}

#intk a, #intk a:visited, #intk a:active
{
	color:black;
	text-decoration:none;
} 

#intk a:hover
{
	text-decoration:underline;
}

#intk .intk_n
{
	text-decoration:line-through;
	color: red; 
}

